[submodule "lisp/zencoding"]
	path = lisp/zencoding
	url = http://github.com/chrisdone/zencoding.git
[submodule "lisp/org-mode"]
	path = lisp/org-mode
	url = http://github.com/emacsmirror/org-mode.git
[submodule "lisp/js2-mode"]
	path = lisp/js2-mode
	url = http://github.com/johan/js2-mode.git
