*~
/elpa
.cask
.emacs.desktop*
.recentf
recentf
.smex-items
cider-history
projectile-bookmarks.eld

.mc-lists.el

tramp

projectile.cache
/ido.last
.DS_Store
custom.el
network-security.data
/anaconda-mode
/.nrepl*
/eshell
smex-items
straight
/cache-dir
